*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fcontainer{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
    height: 50rem;
    border: .4rem solid black;
}
.fitem{
    color: brown;
    width: 25rem;
    height: 25rem;
    background-color: bisque;
    font-size: 5rem;
    font-weight: 600;
    border: .4rem solid black;
    margin: 1.2rem;
    align-content: center;

}
